.checkbox-item{
    padding: 0.5%;
}
.icon-checkbox {
    display: flex;
    align-items: center;
    margin-right: 10px;  /* Optional: Adds space between checkbox/icon and label */
}

.icon-checkbox lightning-icon {
    margin-right: 5px;  /* Optional: Adds space between the icon and the checkbox */
}

.lightning-input {
    margin: 0;  /* Optional: Removes default margin from lightning-input */
}